
{% extends "journal/nav-bar.html" %}

{% block content %}

    <br>

    <div class = 'container bg-white shadow-md p-5 form-layout'>

        <h3> Dashboard page</h3> 
        
        {{user}}

        <br>
        <br>

        <!-- referencing our key in the dashboard function inside our views.py-->
        <img style = 'width: 80px' height = '60px' src = "{{PROFILE_IMAGE.profile_pic.url}}">

        <br> <br>

        <a href="{% url 'log_out' %}" > Logout Here !</a>

    </div>

{% endblock %}




