

<html>


    <h3> Password reset </h3>


    <p> Forgotten your password? </p>



    <form method="POST">

         <!--{% csrf_token %} is used to help protect your forms from Cross-
         
        Site Request Forgery (CSRF) attacks- that is a malicious website 
        tricks a user into submitting a form or performing an action on another 
        website where the user is authenticated.-->


        {% csrf_token %}

        {{form}}


        <br>


        <input type = "Submit" name = "Send email">



    </form>





</html>