

<html>

    <h3> Enter your new password </h3>

    <p> Please enter your new password twice!  so that

        we can verify that you typed it correctly!



    </p>

    <form method = "POST">

        <!--{% csrf_token %} is used to help protect your forms from Cross-
         
        Site Request Forgery (CSRF) attacks- that is a malicious website 
        tricks a user into submitting a form or performing an action on another 
        website where the user is authenticated.-->

        {% csrf_token %}

        {{form}}

        <br>

        <br>

        <input type="Submit" name = "Update password">



    </form>








</html>